.NavBar{
  background-color: rgba(224, 224, 236, 0.259);
}

.login-button {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  padding: 40px;
  cursor: pointer;
}

.nav-section {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
   justify-content: center; /*메뉴 리스트를 가운데로 정렬 */
}

.menu-list li {
  margin: 25px 25px;
}

.mainPage{
  margin-top: 120px;
}

.ProductImg {
  margin-top: 100px;
  width: 260px;
}
.ProductImg:hover {
  transform: scale(1.1);
  transition: all 300ms ease-out;
}
.DetailPage{
  margin-top: 190px;
}
.form_section {
  margin-top: 20rem;
}

.form-Group {
  width: 500px;
  padding: 20px;
  margin: auto;
  border: 1px solid #c1b9b96e;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.btn_login {
  width: 450px;
}
.items-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-bottom: 5px;
}
.product-img {
  display: flex;
  justify-content: flex-end;
}
.dropdown-toggle.btn.btn-light {
  border: 1px solid black;
}
.btn-dark {
  width: 450px;
  margin-top: 10px;
}
.footer{
  box-sizing: border-box;
  height: 350px;
  padding: 50px 20px 0;
  background-color: #e4e4e4;
  margin-top: 6rem;
  }
  .footer-main{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
.footer-texte{
  font-size: 1rem;
  font-weight: 500;
}
@media (max-width: 767px) {
  .ProductImgall .col {
    flex: 0 0 100%; /* 모바일에서는 한 줄에 1개의 열 */
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .ProductImgall .col {
    flex: 0 0 50%; /* 태블릿에서는 한 줄에 2개의 열 */
  }
}