.login-button{
  display:flex;
  justify-content: flex-end;
  gap:25px;  
  padding:40px;
  cursor:pointer;
}

.nav-section{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.menu-area{
  display: flex;
  justify-content: center;

}

.menu-list{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* 메뉴 리스트를 가운데로 정렬 */
}

.menu-list li{
margin:25px 25px;
}
.search {
  display:flex;
  justify-content: flex-end;
  padding-left: 10px;
  }

  .search-icon{
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }

  .ProductImg{
    margin-top: 30px;
    width:260px;
  }
  .ProductImg:hover{
    transform: scale(1.1);
    transition: all 300ms ease-out;
  }

 .form_section{
    margin-top:5rem;
  }

  .form-Group{
    width:500px;
    padding:20px;
    margin:auto;
    border:1px solid #c1b9b96e;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .btn_login{
        width:450px;
  }
  .items-list{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom:5px;
  
  }
  .product-img{
    display:flex;
    justify-content: flex-end;
      }
  .dropdown-toggle.btn.btn-light {
        border: 1px solid black;
       
      }
  .btn-dark{
    width:450px;
    margin-top:10px;
  }